<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265658966031-is99eea305cvjd90g81gee80s3m8utnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265658966031-is99eea305cvjd90g81gee80s3m8utnv</string>
	<key>API_KEY</key>
	<string>AIzaSyDGuTYR9X2iSCpP1AqhYXglL4BBfshapYU</string>
	<key>GCM_SENDER_ID</key>
	<string>265658966031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupomenta.planrecetas</string>
	<key>PROJECT_ID</key>
	<string>dev-plan-recetas</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-plan-recetas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265658966031:ios:8a6c32a5faaf381d2a837a</string>
	<key>DATABASE_URL</key>
	<string>https://dev-plan-recetas.firebaseio.com</string>
</dict>
</plist>