<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" startHour="6" endHour="20" step="30" startingDayWeek="1">
  </calendar>

</ion-content>
<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <ion-button type="button" color="success" expand="full" shape="round" (click)="dismiss()" class="btn-primary"
          mode="ios">
          SALIR
         
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>