ion-header{
    background: #ADFF2F;
    --color: #00008B;
          justify-content: center;
          text-align: center;
          padding-top: 35px;
          .title {
              img {
                  
                  height: 100px;
                  width: 100px;
              }
            }
}

ion-icon{
    color: #ADFF2F;

}
p{
    color: #00008B;  
}