ion-col{
    top: 70px;
}
ion-img {
	
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
h3{
    color:#454545;
}