<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Información
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-text-center">
      <ion-col size="12" size-xs="12" size-md="6" size-lg="6">
        <div>
          <ion-img src="assets/FoodiePlan.png"></ion-img>
        </div>
        <p>Version:0.0.1</p>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer class="ion-text-center">
  <h3>Desarrolladoras</h3>
  <p>Adriana Santacruz -
    adiis96santacruz@gmail.com
  </p>

  <p>Wendy Villegas -
    wen.villegas.98@gmail.com
  </p>
</ion-footer>