<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      APP
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon  name = "search" size = "large"> </ion-icon>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-icon name="more" size = "large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button type="button" size="small" (click)="doLogout()">Cerrar sesión</ion-button>-->
  <ion-title >RECETAS DIARIAS</ion-title>
  <!--galeria de imagenes-->
  <ion-card class="welcome-card">
    <!--boton para desayuno-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img src="/assets/desayuno.jpg"/>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-title class=diario text-center>DESAYUNO</ion-title>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <!--boton para almuerzos-->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <img src="/assets/almuerzo.jpg"/>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-title class=diario text-center>ALMUERZO</ion-title>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
        <!--boton para cena-->
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <img src="/assets/cena.jpg"/>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-title class=diario  text-center>CENA</ion-title>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        </ion-card>
</ion-content>

