<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Recetas
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    placeholder="Buscar Recetas"
    (ionChange)="searchRecipes($event)"></ion-searchbar>
  </ion-toolbar>
  
</ion-header> 

<ion-content fullscreen>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card class="sizeImg" (click)='pass(recipe)' *ngFor="let recipe of recipesList">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <p>
                {{recipe.name}}
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
              <ion-item >
                <!--iMPREME LAS IMAGENES DE RECETAS -->
                <!-- <img src="/assets/ensalada.jpg"> -->
                <img src="{{recipe.picture}}">
              </ion-item>
          </ion-card-content>
          <ion-item>
            <label class="serving">
              <ion-icon name="person">
              </ion-icon>
              {{recipe.servings}}
              porciones
            </label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
