ion-title{
    color: #00008B;
}
.nutrition{
    background: #ADFF2F;
    color: #00008B;
    padding: 10px;
    text-align: center;
    border-radius: 35%;
    margin-right: -10px;
    margin-left: -10px;
}

img{
    margin-top: -20px;
    max-width: 100%;
    border: 0;
    width: 320px;
    height: 150px;
    align-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto
      
}    
ion-card-header{
    margin-top: -20px;
}

.serving{
    border-radius: 20px;
    border: whitesmoke 2px solid;
    background-color:opacify($color: #8a888800, $amount: 0.5);
    display: block;
    color:  #fff;
    position: absolute;
    bottom: 8px;
    left: 160px;
    padding: 5px;
    width: 40%;
}
.food{
    border-radius: 20px;
    border: whitesmoke 2px solid;
    background-color:opacify($color: #8a888800, $amount: 0.5);
    display: block;
    color:  #fff;
    position: absolute;
    bottom: 45px;
    left: 160px;
    padding: 5px;
    width: 40%;

}
.hr{
    height: 3px;
    background-color: #D8D7D7;
}
h1{
    color:#454545;
    text-align: center;
}
