<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button  defaultHref="/">
      </ion-menu-button>
    </ion-buttons>
    <ion-title >
      FoodiePlan
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-circle-sharp" size = "large"(click)="search()"></ion-icon>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12" size-md="6" size-lg="6">
       <ion-title class="title" >
        RECETAS RECIENTES
       </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row >
      <ion-col size="6" size-md="6" size-lg="6" *ngFor="let recipe of recipesListDate">
        <ion-card (click)='pass(recipe)'>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <p>
                {{recipe.name}}
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
              <ion-item (click)='pass(recipe)'>
            
                <img src="{{recipe.picture}}">
               
              </ion-item>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
