
ion-slide {
    display: block;
}
.slide-full{
    height: 100% !important;
}

h3 {
    font-size: 30;
    font-weight: lighter;
    margin-bottom: 60px;
}

img{
    width: 60%;
	height: 60%;

}
// ion-button{
//     position: flex;
   
//     align-items: center;
//     justify-content: center;

// }

ion-grid {
    margin-bottom: 20px;
}

.slide-img-padding{
    display: flex;
    align-items: center;
    justify-content: center;
}    
h3{
    color:#454545;
}