<ion-header>
  <ion-toolbar color="success">
  
    <ion-title >
      BIENVENIDOS A LA APP
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let slide of slides" text-center>
      
      <div class="slide-img-padding">
        <img [src]="slide.img" class="slide-img">
      </div>
      <br>
      <br>
      <div>
        <h3 [innerHTML]="slide.titulo"></h3>
      </div>
      

    </ion-slide>
    <ion-slide>
      <div>
        <img src="assets/Tomates.gif">
      </div>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10" offset="1">
    
            <ion-button color="success"
                        expand="full"
                        shape="round"
                        class="btn-primary"
                        mode="ios"
                        routerLink="/information">
                        
              EMPEZAR
            </ion-button>
    
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="6" offset="3">
    
            <ion-button expand="full" fill="clear">
              <ion-label color="dark">Sign In</ion-label>
            </ion-button>
    
          </ion-col>
        </ion-row>
    
      </ion-grid>

    </ion-slide>

  </ion-slides>


</ion-content>

<!--<ion-footer no-border text-center>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <ion-button color="primary"
                    expand="full"
                    shape="round"
                    class="btn-primary"
                    mode="ios">
          GET MY PLAN
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" offset="3">

        <ion-button expand="full" fill="clear">
          <ion-label color="dark">Sign In</ion-label>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>

  

</ion-footer>-->
