
ion-slide {
    display: block;
}
.slide-full{
    height: 100% !important;
}

h3 {
    font-size: 30;
    font-weight: lighter;
    margin-bottom: 60px;
}

img{
    width: 60%;
	height: 60%;

}
ion-button{
    position: absolute;
    width: 80%;
    bottom: -110px;
    left: 35px;

}

ion-grid {
    margin-bottom: 20px;
}

.slide-img-padding{
    display: flex;
    align-items: center;
    justify-content: center;
}    
h3{
    color:#454545;
}